<div class="card">
    <div class="card-content">
        <span class="card-title">{{ q.text }}</span>
        {% if mode == 'edit' %}
            <div class="answers" data-url="/answers/{{ quiz.id }}/{{ q.id }}"></div>
            <div class="light">Angelegt {{ q.created }}, gestartet {{ q.modified }}</div>
        {% endif %}
        {% if mode == 'show' %}
            <div>
                <form action="{% url 'show' quiz.code %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ q.id }}">
                    <div class="input-field">
                      <input id="answer" name="answer" type="text">
                      <label for="answer">Meine Antwort...</label>
                    </div>
                    <div>
                      <button class="btn waves-effect waves-light" type="submit" name="action">Absenden</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if mode == 'edit' %}
            {% if not q.active %}
            <a class="btn-floating waves-effect waves-light green right" href="{% url 'start_question' quiz.id q.id %}"><i class="material-icons">play_arrow</i></a>
            {% else %}
            <a class="btn-floating waves-effect waves-light red right" href="{% url 'stop_question' quiz.id q.id %}"><i class="material-icons">stop</i></a>
            {% endif %}
        {% endif %}
    </div>
    {% if mode == 'edit' %}
        <div class="card-action">
            <span id="results-{{ q.id }}"></span>
            {% if not q.active %}
            <a class="btn btn-flat" href="{% url 'start_question' quiz.id q.id %}">Frage starten</a>
            {% else %}
            <a class="btn btn-flat" href="{% url 'stop_question' quiz.id q.id %}">Frage stoppen</a>
            {% endif %}

            <button data-target="modal-delanswers-{{ q.id }}" class="btn btn-flat modal-trigger">Zurücksetzen</button>
            <button data-target="modal-del-{{ q.id }}" class="btn btn-flat modal-trigger">Frage Löschen</button>
        </div>
        <!-- Modal Structure for delete dialog -->
        <div id="modal-del-{{ q.id }}" class="modal">
            <div class="modal-content">
              <h4>Frage löschen</h4>
              <p>Wollen Sie die Frage wirklich löschen?</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Nein, behalten</a>
              <a href="{% url 'delete_question' quiz.id q.id %}" class="waves-effect waves-red btn-flat">Ja, löschen</a>
            </div>
        </div>

        <!-- Modal Structure for delete answers dialog -->
        <div id="modal-delanswers-{{ q.id }}" class="modal">
            <div class="modal-content">
              <h4>Frage löschen</h4>
              <p>Wollen Sie die Frage wirklich zurücksetzen und alle bereits abgegebenen Antworten löschen?</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Nein, behalten</a>
              <a href="{% url 'delete_answers' quiz.id q.id %}" class="waves-effect waves-red btn-flat">Ja, zurücksetzen</a>
            </div>
        </div>

    {% endif %}
</div>
<div><p>&nbsp;</p></div>
