{% extends 'present_base.html' %}

{% block content %}
<h2 class="light center">
    {{ question.text }}
    {% if request.user.is_authenticated and has_next_question %}<span class="right"><a href="{% url 'next_question' quiz.id %}" class="btn-floating btn-large waves-effect waves-light green" alt="Nächste Frage"><i class="material-icons left">skip_next</i></a></span>{% endif %}
</h2>

<div class="container">
    <div class="row">
        {% if num_answers == 0 %}
            <p class="flow-text light center"><br><br>Es wurden keine Antworten abgegeben.</p>
        {% else %}
            <div class="col s12 {% if breakpoint > 0 %}m6{% endif %} flow-text center">
                <table class="striped" style="margin: 1em auto;">
                    <tbody>
                        {% for a in answers %}
                            {% if forloop.counter == breakpoint %} {# ugly hacked way to create second column #}
                                </tbody></table></div><div class="col s12 m6"><table class="striped"><tbody>
                            {% endif %}
                            <tr><td style="width:auto;white-space:nowrap;">{{ a.username }} &nbsp;</td><td style="width:100%;">{{ a.answer }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascript_ready_code %}
    {% if not request.user.is_authenticated %}
        window.setInterval(function () {window.location.reload();}, 3000);
    {% endif %}
{% endblock %}
