{% extends 'base.html' %}

{% block content %}
<h2>Quiz &raquo;{{ quiz.title }}&laquo;</h2>

<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title"><a href="{{ quiz_url }}" target="_blank" class="white-text">{{ quiz_url }}</a></span>
        <p>Unter dieser Adresse können Quizteilnehmer nach Angabe eines Namens die jeweils aktiven Fragen beantworten.</p>
    </div>
</div>


<div>
    <a class="btn" href="">Aktualisieren</a>
</div>

<h4>Laufende Fragen</h4>
    {% for q in running_questions %}
        {% include 'partials/question.html' with mode='edit' %}
    {% empty %}
        <p>&nbsp;</p><p>Keine laufenden Fragen vorhanden.</p><p>&nbsp;</p>
    {% endfor %}

<h4>Startbereite Fragen</h4>

    {% for q in stopped_questions %}
        {% include 'partials/question.html' with mode='edit' %}
    {% empty %}
        <p>&nbsp;</p><p>Keine startbereiten Fragen vorhanden.</p><p>&nbsp;</p>
    {% endfor %}


    <h4>Neue Frage anlegen</h4>
        <div class="card-panel">
            <form action="{% url 'new_question' quiz.id %}" method="POST">
                {% csrf_token %}
                <div class="input-field">
                  <input id="new_question" name="q" type="text">
                  <label for="new_question">Die Frage ist...?</label>
                </div>
                <div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Anlegen</button>
                </div>
            </form>
        </div>
{% endblock %}

{% block javascript_ready_code %}
    {% for q in running_questions %}
        setInterval(function(){ $('#results-{{ q.id }}').load('{% url 'ajax_answers' quiz.id %}?id={{ q.id }}', function () {$('.modal').modal();});  }, 3000);
    {% endfor %}
{% endblock %}